// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    // noctalia-shell
    spawn-sh-at-startup "QT_QPA_PLATFORMTHEME=qt6ct qs -d -c noctalia-shell"
    spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

    // unikey
    spawn-sh-at-startup "fcitx5 -d"

    // background
    spawn-at-startup "awww-daemon"
    spawn-sh-at-startup "awww img \"$HOME/Pictures/Wallpapers/bocchi-4.png\" --resize crop"

    // app
    spawn-at-startup "brave-origin"
    spawn-at-startup "Element"
    spawn-at-startup "strawberry"
