// DP-1 slots 1–10
workspace "web" { open-on-output "DP-1"; }
workspace "chat" { open-on-output "DP-1"; }
workspace "code" { open-on-output "DP-1"; }
workspace "work" { open-on-output "DP-1"; }
workspace "term" {open-on-output "DP-1"; }
workspace "6" { open-on-output "DP-1"; }
workspace "7" { open-on-output "DP-1"; }
workspace "8" { open-on-output "DP-1"; }
workspace "9" { open-on-output "DP-1"; }
workspace "10" { open-on-output "DP-1"; }

// HDMI-A-1 slots 11-20, vertical setup
workspace "11" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "12" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "13" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "14" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "15" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "16" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "17" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "18" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "19" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}
workspace "20" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-width { proportion 1.0; }
        default-column-display "normal"
    }
}

window-rule {
    match app-id="brave-origin"
    open-on-workspace "web"
    open-maximized-to-edges true
}

// brave-origin extension
window-rule {
    match app-id="brave-amfojhdiedpdnlijjbhjnhokbnohfdfb-Default"
    open-on-workspace "web"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id="Element"
    open-on-workspace "13"
    open-maximized-to-edges true
}

window-rule {
    match app-id="vesktop"
    open-on-workspace "13"
    open-maximized-to-edges true
}

window-rule {
    match app-id="dev.zed.Zed"
    open-on-workspace "code"
    open-maximized-to-edges true
}

// not code xd
window-rule {
    match app-id="^steam_app_"
    open-on-workspace "code"
}

window-rule {
    match app-id="steam" title="^Steam$"
    open-on-workspace "14"
}

window-rule {
    match app-id="^org.strawberrymusicplayer.strawberry$"
    open-on-workspace "14"
}

window-rule {
    match app-id="^zeron$"
    open-on-workspace "work"
}

window-rule {
    match app-id="eu.betterbird.Betterbird"
    open-on-workspace "term"
}

window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
        xray false
    }
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        top-left
    }
}

blur {
    passes 2
    offset 4.0
    noise 0.01
    saturation 1.50
}
